/* style.css */

#header {
    padding:20px;
    margin:auto;
    width:50%;
    border:5px solid #8b0000;
    font-family: Verdana, sans serif, Georgia, Palatino, Arial;
    background-color: #FFFFE0;
    text-align: center;
    background-image: url("trombone-banner.png")
    }
    
    #home {
    padding:20px;
    Margin:0;
    width:100%;
    Border:10px solid #8b0000;
    font-family: Verdana, sans serif, Arial;
    background-color: #FFD580;
    text-align: center;
    }
    
    
    #footer {
    color:FFFFE0;
    Padding:20px;
    Margin: auto;
    width:60%;
    Border:5px solid #8b0000;
    background-color: #FFD580;
    color:black;
    background-image: url("trombone-banner.png");
    }

    body {
        background-color: #24184d;
    }

    
    /* maybe add a second box to add screenwrittings to
    #home2 {
    border:15px;
    padding:20px;
    width:30%;
    color:#FFD580;
    }
    */



    #scripttext {
text-align: left;
background-color: #7196c7;
margin:0;
width:550px;
border: 3px solid #24184d;
    }

    #icons {
        background-color: #d8c195;
        margin-left:300px;
        width:700px;
        border: 3px solid #24184d

    }
    #rainbowtext {

        background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

    }

    #memes {
background-color: #ef5350;
border: 5px solid #43a047;
background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
    }
    #box {
        background-color: darkslategray;
        border: 5px solid #f9a825;
        text-align: center;
    }
    #box2 {

        text-align: left;
        color: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
    }
    #spinish {
background-color: #7196c7;
border: 5px solid #24184d;
text-align: auto;
margin:left;
width:450px;
    }
    #online {
background-color: darkcyan;
border: 5px solid #24184d;
text-align: middle;
width:250px;
margin:0;
    }
    #ad {
background-color: darkorange;
border: 5px solid #52370d;
text-align: auto;
width:250px;
    }
    #screenplays {
background-color: mediumvioletred;
border: 5px solid #631859;
text-align: auto;
width:500px;
    }